---
title: Accueil
description: Guipavas Savate
header: true
order: 1
---

<html lang="fr" prefix="og:http://ogp.me/ns#">

    <head>
        {% include head.html %}
    </head>

    <body class="is-size-5-desktop">

        {% include navbar.html %}

        <div class="columns">
            {% assign post = site.posts | first %}
            {% include post_card.html %}

            <div class="section column is-half">
                {% include horaires_grand.html %}
            </div>
        </div>

        {% include contact.html %}
        {% include footer.html %}

    </body>
</html>
