<section class="hero" id="contact" data-title="Contact">
    <div class="hero-body cent-hero cent-contact has-text-centered">
        <div class="columns">
            <div class="column is-full is-size-3">Contactez-nous</div>
        </div>
        <div class="columns">
            {% for contact in site.data.main.contacts %}
            <div class="column">
                <span class="tag is-rounded is-large">
                    <span class="icon">
                        <i class="{{contact.logo}}"></i>
                    </span>
                    <a class="has-text-primary" href="{{contact.href}}">
                        {{contact.label}}
                    </a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>