<aside class="menu">
    <p class="menu-label">Lundi</p>
    <ul class="menu-list">
        <li><a><span class="has-text-weight-bold">18h30 à 20h15</span><br/>Adultes</a></li>
    </ul>
    
    <p class="menu-label">Mercredi</p>
    <ul class="menu-list">
        <li><a><span class="has-text-weight-bold">14h à 15h15</span><br/>de 6 à 10 ans</a></li>
        <li><a><span class="has-text-weight-bold">15h30 à 17h</span><br/>de 11 à 14 ans</a></li>
        <li><a><span class="has-text-weight-bold">17h15 à 18h30</span><br/>boxe anglaise</a></li>   
    </ul>
    
    <p class="menu-label">Jeudi</p>
    <ul class="menu-list">
        <li><a><span class="has-text-weight-bold">18h30 à 20h15</span><br/>Adultes</a></li>
    </ul>
    
    <p class="menu-label">Salle</p>
    <p class="has-text-weight-bold">
        Salle du Douvez <br/> à Guipavas
    </p>

</aside>