<aside class="menu">
    <p class="menu-label">Lundi</p>
    <ul class="menu-list">
        <li><a><a><span class="has-text-weight-bold">18h30 à 20h15</span><br/>Adultes</a></li>
    </ul>
    
    <p class="menu-label">Mercredi</p>
    <ul class="menu-list">
        <li><a><span class="has-text-weight-bold">14h à 15h15</span><br/>de 6 à 10 ans</a></li>
        <li><a><span class="has-text-weight-bold">15h30 à 17h</span><br/>de 11 à 14 ans</a></li>
        <li><a><span class="has-text-weight-bold">17h15 à 18h30</span><br/>boxe anglaise</a></li>   
    </ul>
    
    <p class="menu-label">Jeudi</p>
    <ul class="menu-list">
        <li><a><a><span class="has-text-weight-bold">18h30 à 20h15</span><br/>Adultes</a></li>
    </ul>

<!--
    <p class="menu-label">
        Cours enfants
    </p>
    <ul class="menu-list">
        <li>De 6 à 10 ans
            <ul class="menu-list">
                <li><a>14h à 15h15 le mercredi</a></li>
            </ul>
        </li>
        <li>De 11 à 14 ans
            <ul class="menu-list">
                <li><a>18h30 à 20h15 le lundi</a></li>
                <li><a>15h30 à 17h00 le mercredi</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Cours adultes
    </p>
    <ul class="menu-list">
        <li>À partir de 15 ans
            <ul class="menu-list">
                <li><a>18h30 à 20h15 le lundi</a></li>
                <li><a>18h30 à 20h15 le jeudi</a></li>
            </ul>
        </li>
        <li>Boxe anglaise
            <ul class="menu-list">
                <li><a>17h15 à 18h30 le mercredi</a></li>
            </ul>
        </li>
    </ul>
-->
</aside>