<aside class="menu">
    <span class="title is-4">Horaires</span>

    <p class="menu-label is-size-6">Lundi</p>
    <ul class="menu-list">
        <li>
            <a style="cursor: default">
                <span class="has-text-weight-bold">18h30 à 20h30</span>
                <br/>
                Adultes (15 ans et plus)
                <br/>
                <span class="tag is-rounded is-warning">Savate</span>
                <span class="tag is-rounded is-link is-light">Tous niveaux</span>
            </a>

        </li>
    </ul>

    <p class="menu-label is-size-6">Mardi</p>
    <ul class="menu-list">
        <li>
            <a style="cursor: default">
                <span class="has-text-weight-bold">18h30 à 19h30</span>
                <br/>
                Adultes (15 ans et plus)
                <br/>
                <span class="tag is-rounded is-success">Cardio Boxing</span>
                <span class="tag is-rounded is-link is-light">Tous niveaux</span>
            </a>

        </li>
    </ul>

    <p class="menu-label is-size-6">Mercredi</p>
    <ul class="menu-list">
        <li>
            <div class="level is-mobile">
                <a class="level-item" style="cursor: default">
                    <span class="has-text-weight-bold">14h à 15h15</span>
                    <br/>
                    Enfants de 6 à 10 ans
                    <br/>
                    <span class="tag is-rounded is-warning">Savate</span>
                    <span class="tag is-rounded is-link is-light">Tous niveaux</span>
                </a>
                <a class="level-item" style="cursor: default">
                    <span class="has-text-weight-bold">15h30 à 17h</span>
                    <br/>
                    Adolescents de 11 à 14 ans
                    <br/>
                    <span class="tag is-rounded is-warning">Savate</span>
                    <span class="tag is-rounded is-link is-light">Tous niveaux</span>
                </a>
            </div>
        </li>
        <li>
            <div class="level is-mobile">
                <a class="level-item" style="cursor: default">
                    <span class="has-text-weight-bold">17h15 à 18h45</span>
                    <br/>
                    à partir de 13 ans
                    <br/>
                    <span class="tag is-rounded is-danger">Anglaise</span>
                    <span class="tag is-rounded is-link is-light">Tous niveaux</span>
                </a>
                <a class="level-item" style="cursor: default"><span class="has-text-weight-bold">19h00 à 20h30</span>
                    <br/>
                    Adultes (15 ans et plus)
                    <br/>
                    <span class="tag is-rounded is-warning">Savate</span>
                    <span class="tag is-rounded is-light is-success">Débutants</span>
                </a>
            </div>
        </li>
    </ul>

    <p class="menu-label is-size-6">Jeudi</p>
    <ul class="menu-list">
        <li>
            <a style="cursor: default">
                <span class="has-text-weight-bold">18h30 à 20h30</span>
                <br/>
                Adultes (15 ans et plus)
                <br/>
                <span class="tag is-rounded is-warning">Savate</span>
                <span class="tag is-rounded is-light is-danger">Confirmés</span>
            </a>

        </li>
    </ul>

    <p class="menu-label is-size-6">Vendredi</p>
    <ul class="menu-list">
        <li>
            <a style="cursor: default">
                <span class="has-text-weight-bold">17h30 à 18h30</span>
                <br/>
                Enfants (6 à 10 ans)
                <br/>
                <span class="tag is-rounded is-danger">Anglaise</span>
                <span class="tag is-rounded is-link is-light">Tous niveaux</span>
            </a>

        </li>
    </ul>

    <p class="menu-label is-size-6">Samedi</p>
    <ul class="menu-list">
        <li>
            <a style="cursor: default">
                <span class="has-text-weight-bold">9h30 à 11h00</span>
                <br/>
                à partir de 13 ans
                <br/>
                <span class="is-size-7">Développement et préparation</span>
                <br/>
                <span class="tag is-rounded is-warning">Savate</span>
                <span class="tag is-rounded is-link is-light">Tous niveaux</span>
            </a></li>
    </ul>

    <p class="menu-label is-size-6">Salle</p>
    <div class="columns">
        <div class="column is-8">
            <figure class="image is-16by9">
                <img src="/images/salledudouvez-small.webp">
            </figure>
        </div>
    </div>
    <p class="has-text-weight-bold">
        Salle du Douvez <br/> à Guipavas
    </p>
    <div class="level">
        <span class="level-left">
            <span class="level-item">Voir la carte</span>
            <span class="level-item">
                <a 
                    class="button is-rounded " target="_blank" 
                    href="https://www.google.com/maps/place/Salle+Du+Douvez/@48.4149772,-4.3516743,17.75z/data=!4m12!1m6!3m5!1s0x4816b13dc52de413:0xd2971dd8c40ca1e8!2sSalle+Du+Douvez!8m2!3d48.414921!4d-4.3503759!3m4!1s0x4816b13dc52de413:0xd2971dd8c40ca1e8!8m2!3d48.414921!4d-4.3503759"
                >
                    <span class="icon">
                        <i class="fas fa-map-pin"></i>
                    </span>
                </a>
            </span>
        </span>
    </div>

</aside>