

<table class="table has-text-centered is-striped is-narrow- is-hoverable is-fullwidth">
    <tr>
        <th></th>
        <th class="has-text-centered">Pratique</th>
        <th class="has-text-centered">Âge</th>
        <th class="has-text-centered">Horaire</th>
    </tr>

    {% for jours in site.data.horaires %}
        {% for jour in jours %}
            <tr>
            <th rowspan="{{ jour[1] | size }}" class="is-size-4 is-vcentered">{{jour[0]}}</th>
        
            {% for horaire in jour[1] %}
            <td class="is-vcentered">
                <div class="tags">
                    {% assign dTag = "" %}
                    {% case horaire.discipline %}
                    {% when "Savate" %}
                        {% assign dTag = "is-warning" %}
                    {% when "CardioBoxing" %}
                        {% assign dTag = "is-success" %}
                    {% when "Anglaise" %}
                        {% assign dTag = "is-danger" %}
                    {% endcase %}
                    <span class="tag is-large is-rounded {{dTag}}">{{horaire.discipline}}</span>
                    
                    {% assign niveaux = horaire.niveau | split: ", " %}
                    {% for niveau in niveaux %}
                        {% assign nTag = "" %}
                        {% case niveau %}
                        {% when "Tous Niveaux", "Développement" %}
                            {% assign nTag = "is-link" %}
                        {% when "Débutants" %}
                            {% assign nTag = "is-success" %}
                        {% when "Confirmés", "Compétitions" %}
                            {% assign nTag = "is-danger" %}
                        {% endcase %}
                        <span class="tag is-medium is-rounded {{nTag}} is-light">{{ niveau }}</span>
                    {% endfor %}
                </div>
            </td>
            <td class="is-vcentered">
                <b>{{horaire.public}}</b> <br />
                {{horaire.age}}
            </td>
        
            <td class="is-vcentered">
                <span class="has-text-weight-bold">de&nbsp;{{horaire.horaireDebut}}<br />à&nbsp;{{horaire.horaireFin}}</span>
            </td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</table>
