---
layout: default
---

<section id="post" class="section container">

    <div class="columns">
        <div class="column is-half">
            <a href="{{ page.url | relative_url }}" class="card-image">
                <figure class="image is-square">
                    <img src="{{page.img}}" alt="{{page.title}}">
                </figure>
            </a>
        </div>
        <div class="column is-half">
            <div class="content">
                <h1 class="title is-4">{{page.title}}</h1>

                {{ page.content }}
                
                <div class="list has-hoverable-list-items has-visible-pointer-controls">
                {% for download in page.downloads %}
                    <a class="list-item" href="{{ download.href }}">
                        <div class="list-item-image">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-download"></i>
                            </span>
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-title">Télécharger <span class="is-family-code is-size-6">"{{ download.label }}"</span></div>
                            <div class="list-item-description">{{ download.description }}</div>
                        </div>
                    </a>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="level">
        <div class="level-left">
            <div class="level-item field is-horizontal">
                <div class="field-body">
                    <div class="field is-grouped is-grouped-multiline">
                        <p class="control">
                            <a 
                                class="button is-rounded is-primary" style="background-color: #55acee" 
                                href="https://twitter.com/intent/tweet/?text={{ page.description | url_encode }}&url={{ site.url | url_encode }}{{ page.url | url_encode }}&via=centyllion" 
                                target="_blank" rel="noopener" aria-label="{{ site.data.layout.shareon[lang] }} Twitter"
                            >
                                <span class="icon"><i class="fab fa-twitter"></i></span>
                                <span>{{ site.data.layout.shareon[lang] }} Twitter</span>
                            </a>
                        </p>
                        <p class="control">
                            <a 
                                class="button is-rounded is-primary" style="background-color: #3b5998" 
                                href="https://facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" 
                                target="_blank" rel="noopener" aria-label="{{ site.data.layout.shareon[lang] }} Facebook"
                            >
                                <span class="icon"><i class="fab fa-facebook"></i></span>
                                <span>{{ site.data.layout.shareon[lang] }} Facebook</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="level-item">
            <div class="tags are-large">      
            {% for tag in page.tags %}
                <span class="tag is-info is-rounded">{{tag}}</span>
            {% endfor %}
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="level-item has-text-right is-italic">
                    <time datetime="{{ page.date | date: '%Y-%m-%d }}">{{ page.date | date: '%d/%m/%Y' }}</time>
                </div>
            </div>
        </div>
    </div>
</section>
